NODE_ENV=development
PORT=3001
WEB_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/merkeb_market"

# SMS / OTP
SMS_PROVIDER=console             # console | afromessage
# Required only when SMS_PROVIDER=afromessage
AFROMESSAGE_TOKEN=your_api_token
AFROMESSAGE_IDENTIFIER_ID=your_identifier_id
AFROMESSAGE_SENDER_NAMES=Merkeb
OTP_EXPIRY_SECONDS=60
OTP_LENGTH=6
OTP_IP_RATE_LIMIT=5
IP_HASH_SECRET=replace_with_another_long_random_secret

# Authentication
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRY_DAYS=7
