NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/merkeb_market"

# SMS / OTP
SMS_PROVIDER=console             # console | africastalking
AT_API_KEY=your_api_key_here
AT_USERNAME=sandbox
AT_SENDER_ID=MKTB
OTP_EXPIRY_SECONDS=300
OTP_LENGTH=6